* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, fantasy;
    padding: 2rem;
    background-color: #FF00F7;
    color: rgb(119, 2, 95);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(254, 217, 251);
}